.heading {
  text-shadow: 0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%);
}
.login {
  box-shadow: "3px 3px rgba(0, 0, 0, 0.15)";
  font-size: "18px";
  background-color: #607fe8;
}
.ant-btn-lg {
  height: 45px;
}
